/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* CSS Reset */
/* Reset taken from https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */


html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* Variables */

:root {
    --whiteMain: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

/* Base Styles (Doesn't change with media break points) */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30%;
    font-family: 'Outfit', sans-serif;
    background: var(--lightGray)
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 15px;
    width: 90%;
    border: 1px solid var(--whiteMain);
    border-radius: 20px;
    background: var(--whiteMain)
    
}

.card-img img {
    border-radius: 15px;
}

.card-text {
    text-align: center;
}

.card-text h1 {
    color: var(--darkBlue);
    font-weight: 700;
    font-size: 1.5em;
    padding: 20px 0;
}

.card-text p {
    color: var(--grayBlue);
    font-size: 1.2em;
    padding-bottom: 25px;
}


/* Mobile Styles */

/* Desktop Styles */